@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    /* outline: 4px solid rgb(30, 255, 0) !important; */
}

html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1f24;
    font-family: "Inter", system-ui;
    transition: background-color 2s ease; /* Плавное изменение фона */
   
   
}
.game {

    width: 250px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img {
    width: 50px;
    height: 50px;
    margin-right:14px ;
    user-select: none;
}
.score {
    color: #fff;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    user-select: none;
}
.circle {
    position: relative;
  
}
.circle img {
    width: 200px;
    height: 200px;
    border-radius:50% ;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.5);
    transition: transform 0.2 ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
    user-select: none;
    margin: auto;
    margin-left: 20px;
   
    
}
.plus-one {
    position: absolute;
    font-family: Inter;
    text-shadow: 0px 0px 10px 0px rgb(255, 179, 0) ;
    font-size: 24px;
    font-weight: 800;
    background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;

}
@keyframes move-up {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

#openWindowButton {
    display: block;
    margin: 20px auto;
 
    font-size: 16px;
    width: 70px;
    height: 100px;
    cursor: pointer;
    border: 2px solid rgb(51, 255, 0);
    background-color:#1c1f24;
    border-radius: 15px;
}
#openWindowButton>img {
    width: 44px;
    height: 44px;
    margin-top:45px ;
  user-select: none;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    user-select: none;
}
#upgradeButton{
    display: block;

 
    font-size: 16px;
   padding: 15px;
    cursor: pointer;
    border: 2px solid rgb(51, 255, 0);
 background: transparent;
    border-radius: 15px;
    color: wheat;
    position: absolute;
    right: 40px;
    top: 170px;

}
#buyClickerButton {
    position: absolute;
}
#upgradeIndicators {
    display: flex;
    justify-content: center;
    margin: 20px 0;
 
    width: 140px;
    position: absolute;
    left: 50px;
    top: 170px;
}

.indicator {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
   
}

.indicator.active {
    background-color: green;
}

.modal-content {
    background-color: #1c1f24;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 500px;
    max-width: 500px;
    text-align: center;
    user-select: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.background-1 {
    background-color: #3498db; /* Голубой фон */
    background-size: cover;
    width: 100%;
    height: 100vh; /* Покрывает всю высоту экрана */
}

.background-2 {
    background-color: #2ecc71; /* Зеленый фон */
    background-size: cover;
    width: 100%;
    height: 100vh; /* Покрывает всю высоту экрана */
}


#changeBackgroundButton {
    display: block;

 
    font-size: 16px;
   padding: 15px;
    cursor: pointer;
    border: 2px solid rgb(51, 255, 0);
 background: transparent;
    border-radius: 15px;
    color: wheat;
   position: absolute;
   top:  269px;
   left: 140px;
   
}
